.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h3,
.form-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #495057;
}

.table-container {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-header {
    background-color: #007bff;
    color: #ffffff;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.table {
    margin-bottom: 0;
    text-align: center;
}

.table td, 
.table th {
    vertical-align: middle;
}

.form-group label {
    font-weight: 500;
    color: #495057;
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.text-muted {
    color: #6c757d !important;
}

.text-center {
    text-align: center;
}

.no-logs p {
    font-size: 1rem;
    font-weight: 500;
    color: #6c757d;
}
