<div class="container mt-4">
    <h2>User Profiles</h2>
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>DOB</th>
          <th>Email</th>
          <th>Mobile Number</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Profile Picture</th>
          <th>Created At</th>
          <th>Weight</th>
          <th>Height</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userProfiles">
          <td>{{ user.UserProfileId }}</td>
          <td>{{ user.Username }}</td>
          <td>{{ user.FullName }}</td>
          <td>{{ user.DOB }}</td>
          <td>{{ user.Email }}</td>
          <td>{{ user.MobileNumber }}</td>
          <td>{{ user.Gender }}</td>
          <td>{{ user.Address }}</td>
          <td>{{user.ProfilePicture}}</td>
          <td>{{ user.CreatedAt}}</td>
          <td>{{ user.Weight }}</td>
          <td>{{ user.Height }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  